/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2016, 10:34:13
    Author     : yjin
*/
table.show-circuit, table#circuitGetCircuit{
    table-layout: fixed; 
    width: 100%; 

    thead{
        width: 100%;
        th.upDown{
            width: 3%;
        }

        th.etapeInfo{
            width: 65%;
            &.etapeInfoPourSetSchema{
                width: 60%;
            }
        }
        th.arrow{
            width: 5%;
            &.arrowPourSetSchema{
                width: 3%;
            }
        }
        th.etapeDescription{
            width: 35%;
            &.etapeDescriptionPourSetSchema{
                width: 36%
            }
        }
        th.actions{
            width: 3%;
        }
    }

    tbody{
        tr{
            padding: 0 0 5px 0;

            td.upDown{
                padding:0; 
                text-align: left; 
                color:$blue-webgfc;
            }

            td.etapeInfo{
                padding: 0;

                &.etape-insert{
                    padding-left: 20px;
                }

                .panel{
                    margin:0;

                    .panel-title{
                        span{
                            float: right;
                        }
                    }
                    .panel-body{
                        ul{
                            padding: 0px;

                            li{
                                width: auto; 
                                font-size: 11px; 
                                border-bottom: 1px solid #ccc;

                                &.composition{
                                    width:100%;
                                }

                                &.alert.alert-warning{
                                    margin:0;
                                    padding: 0;
                                }

                                &.alert.alert-danger{
                                    margin:0;
                                    padding: 0;
                                }

                                img{
                                    float: right;
                                    &.removeCompo{
                                        cursor:pointer;
                                        font-size: 16px;
                                        margin-top: 6px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            td.arrow{
                padding:0; 
                text-align: center; 
                color:#b2b2b2;

                div{
                    margin:0;

                    div{
                        width:2px; 
                        margin: auto;
                        background: #b2b2b2;
                    }
                }
            }

            td.etapeDescription{
                padding: 0 ;

                .panel.panel-default{
                    margin:0; 
                }
            }

            td.actions{
                padding:0 0 0 10px; 
                text-align: left; 
                color:$blue-webgfc;

                i.addCompoBtn{
                    margin-bottom:10px;
                    font-size: 16px;
                    cursor: pointer;
                }

                i.editEtapeBtn{
                    margin-bottom:10px;
                    font-size: 16px;
                    cursor: pointer;
                }

                i.deleteEtapeBtn{
                    margin-bottom:10px;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
    }
}