/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 mars 2016, 10:46:49
    Author     : yjin
*/

#addContactIdent, #addContactFicheCoor, #addContactLien, #addContactAdd {
    margin-top: 15px;
    margin-bottom: 0px;

    .panel-heading {
        background: $white;

        h4 {
            color: $black;
        }
    }

    .panel-body {
        padding: 5px;
        margin-bottom: 0px;
    }
}
/*
#ContactCitoyen1 {
    margin-left: 155px;
}

label {
    &[for="ContactCitoyen1"], &[for="ContactCitoyen0"] {
        text-align: left;
        margin-left: 10px;
    }
}*/