/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2016, 14:31:01
    Author     : yjin
*/

#rightsSets {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;

    tr, td {
        height: 0;
    }

    .acl_table {
        margin-bottom: 15px;
    }

    legend {
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    td.action {
        .input.checkbox, input {
            margin: 0;
            padding: 0;
        }

        width: 25px;
        text-align: center;
    }
}

#tabs {
    margin-bottom: 10px;
    width: 45%;
    float: right;
    margin-top: 0;

    tr, td {
        height: 0;
    }

    .acl_table {
        margin-bottom: 15px;
        
        th{
           padding-left: 10px;
           padding-right: 5px;
        }
    }

    legend {
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    td.action {
        .input.checkbox, input {
            margin: 0;
            padding: 0;
        }

        width: 25px;
        text-align: center;
    }
}

#env {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;

    tr, td {
        height: 0;
    }

    .acl_table {
        margin-bottom: 15px;
    }

    legend {
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    td.action {
        .input.checkbox, input {
            margin: 0;
            padding: 0;
        }

        width: 25px;
        text-align: center;
    }
}

#wkf {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;

    tr, td {
        height: 0;
    }

    .acl_table {
        margin-bottom: 15px;
    }

    legend {
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    td.action {
        .input.checkbox, input {
            margin: 0;
            padding: 0;
        }

        width: 25px;
        text-align: center;
    }
}

#ctx {
    margin-bottom: 10px;
    width: 45%;
    float: right;
    margin-top: 0;

    tr {
        height: 0;
    }

    td {
        height: 0;
        padding-left: 15px;
    }

    .acl_table {
        margin-bottom: 15px;
    }

    legend {
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    td {
        &.action {
            .input.checkbox, input {
                margin: 0;
                padding: 0;
            }

            width: 25px;
            text-align: center;
        }

        &.ctx_subtitle {
            font-weight: bold;
            font-style: italic;
            padding-left: 0;
        }
    }
}