/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2016, 15:07:09
    Author     : yjin
*/
/*
#infos.table-list{
    box-shadow: 0 5px 10px $border-gray;
    border: 1px solid $border-gray;
    background: $white;
    border-radius: $border-radius-normal;
    .content {
        overflow: hidden;
    }

    .ui-tabs-panel {
        padding: 3px;
        height: 390px;
        overflow: auto;
    }

    .content {
        form {
            width: 100%;
            margin-top: 0;
        }

        fieldset {
            width: 422px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;

            legend {
                padding: 3px 10px 3px 10px;
            }
        }
    }
}*/

//tabs
/*#tabs .titre{
    background-color: $panel-header-footer-gray;
    border-color: $border-gray;
}
.table-list #tabs ul a{
    color:$text-color;
}
.table-list #tabs ul .active a{
    color:$black;
}
#infos{
    .tab-content {

        legend {
            margin-top: 5px;
            color: $blue-webgfc;
            font-size: 14px;
        }

        > h4 {
            color: $blue-webgfc;
            margin-top: 25px;
        }

        p {
            margin-left: 12px;
            width: 60%;
            font-size: 12px;
            margin-top: 5px;
        }
    }
}

#infos

.tab-pane.fade {

    padding-bottom:0px;
    
    pre {
        margin: auto auto 10px -160px;
        width: 110%;
        font-size: 11px;
    }
    

    .checkbox {
        margin: auto auto 0 auto;
        width: 22%;
        text-align: right;

        .label-info {
            margin-top: 10px;
            margin-right: 30px;
            padding: 8px;
            font-size: 12px;
        }

        input {
            margin-top: -2px;
        }
    }
}*/

#infos.infos-collectivites{
    .tab-pane.fade{
        padding-left:15px;

        pre {
            /*margin: auto auto 10px -160px;*/
            /*width: 110%;*/
            font-size: 11px;
        }

        p {
            margin-left: 12px;
            /*width: 60%;*/
            font-size: 12px;
            margin-top: 5px;
        }

        #btn_preparation{
            margin-left: 25px;
        }
    }

    #tabs-6 {
        .pre-logo {
            text-align: right;
            padding-top: 45px;
        }

        .logo-button {
            padding-top: 278px;
        }
    }
}

