/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2016, 15:24:08
    Author     : yjin
*/
/*
$radius:$border-radius-normal $border-radius-normal 0 0;



.form-box {
    margin-top: 35px;
}
.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: $very-dark-gray;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
    text-align: left;
}
.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
    h3 {
        margin-top: 0;
        margin-left: 0px; 
        color: $white;
        font-weight: bold;
        font-size: 30px;
    }
    p {
        opacity: 0.8;
        color: $white;
        font-size: 14px;
        margin-left: 25px;
    }
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 25px;
    font-size: 85px;
    color: $white;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: $very-dark-gray;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 $border-radius-normal $border-radius-normal;
    -webkit-border-radius: 0 0 $border-radius-normal $border-radius-normal;
    border-radius: 0 0 $border-radius-normal $border-radius-normal;
    text-align: left;
    form {

        .form-group{
            margin-bottom: 15px;
        }

        .form-control{
            max-width: none;
        }

        .has-error .form-control {
            border: 1px solid #a94442;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }

        textarea {
            height: 100px;
        }

        button.btn {
            width: 100%;
        }

        .input-error {
            border-color: #de615e;
        }
        input[type="email"], input[type="password"], input[type="login"],
        textarea, textarea.form-control {
            height: 50px;
            width: 100%;
            margin: 0;
            padding: 0 20px;
            vertical-align: middle;
            background: $white;
            border: 3px solid $white;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 50px;
            color: $text-color;
            -moz-border-radius: $border-radius-normal; -webkit-border-radius: $border-radius-normal; border-radius: $border-radius-normal;
            -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
            -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
            &:focus{
                outline: 0;
                background: $white;
                border: 2px solid #979fcd;
                -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
            }
        }
        .login-button {
            width: 100%;
            margin-top: 8px;
            margin-left: 0px;
            height: 50px;
            font-size: 16px;
            font-weight: 300;
            line-height: 40px;
        }
        .form-forgotPW{
            color:$white;
            margin-right: auto;
            margin-left: 65%;
        }
    }
}
*/