/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2016, 14:46:58
    Author     : yjin
*/

//Vue getInfosCompte & getInfosPersos
.container-formulaire {
    background: $white;
    -moz-border-radius: $border-radius-normal;
    -webkit-border-radius: $border-radius-normal;
    border-radius: $border-radius-normal;
    margin-bottom: 10px;
    min-width: 250px;
    min-height: 140px;
    padding: 0;
    width: 100%;

    > h3 {
        background: $blue-webgfc;
        color: $white;
        font-weight: bolder;
        margin: 0px;
        border-radius: $border-radius-normal $border-radius-normal 0 12px;
        text-align: left;
        font-size: 20px;
        padding: 12px;
        padding-left: 20px;
    }

    .row {
        padding: 15px;
    }

    .panel.panel-default,.panel.panel-warning {
        h4 {
            margin-top: 5px;
            color: $blue-webgfc;
        }

        .panel-body {
            min-height: 250px;
        }
        margin-bottom: 20px;
    }


    .label{
        color: $blue-webgfc;
        font-size: 14px;
        text-align: right;
    }

    .contentInto{
        text-align: left;
        margin-top: -5px;

        ul{
            padding : 0px;
        }
    }

    .icon-title{
        float: right;
        color:#000;
        font-size:12px;
    }
}

//Vue modification utilisateur
.habilsZone{
    .desktopCtrls{
        float: right;

        span{
            margin-left: 5px;
        }
    }
}

