/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2016, 10:01:32
    Author     : yjin
*/

.formatConnWarnings{
    margin: 5px;
    padding: 5px;
    font-style: italic;
}

#refInOut{
    background-color: $border-gray;
    border: 1px solid $border-gray;
    padding: 3px 0 2px 5px;
    font-family: Courier new;
    font-style: italic;
}

.viewOnlyTab{
    @extend #notice-warning;
}

.list-group-item-warning {
    color: #999;
    font-style: italic;
    background-color: #fff;
    opacity: 0.7;
}

#browser{
    &.typestype{
        color:#000;
    }
    width: 98%;
    margin:15px auto;

    ul{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: -1em;
    }

    li{
        margin-top: -0.5em;
        margin-bottom: 0.5em;
        line-height: 17px;

        span{
            &:hover{
                background-color: #f4f4f4;
            }
            &.folder, &.file{
                span{
                    margin-right: 15px;
                    float: right;
                }
            }

            span{
                margin-top:2px;
            }
        }
    }
}

.treeview .hitarea {
    margin-top: 6px;
}


.filetree span.folder, .filetree span.file{
    background-image: url("/img/repertoire_22.png") !important;
    background-position: 4px 6px !important;
}