/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 21 mars 2016, 15:11:27
    Author     : yjin
*/

.btn-info-webgfc {
    @include button-variant($btn-info-webgfc-color, $btn-info-webgfc-bg, $btn-info-webgfc-border);
}
.addPaddingBtn{
    padding: 9px;
}
.btn-info .badge {
    color: $btn-info-disabled;
    background-color: $white;
}
.open > .dropdown-toggle.btn-info {
    color: $white;
    background-color: $btn-info-hover-bg-active;
    border-color: $btn-info-hover-bg-active;

    &:hover, &:focus, &.focus {
        color: $white;
        background-color: $btn-info-hover-bg-active;
        border-color: $btn-info-hover-border;
    }

    background-image: none;
}
fieldset[disabled] .btn-info {
    &:hover, &:focus, &.focus {
        background-color: $btn-info-disabled;
        border-color: $btn-info-border-normal;
    }
}

$btn-danger-color-webgfc:               #5397a7 !default;
$btn-danger-bg-webgfc:                  transparent !default;
$btn-danger-border-webgfc:              darken($btn-danger-color-webgfc, 5%) !default;


.btn-danger-webgfc {
  &.btn-inverse {
    @include button-variant($btn-danger-color-webgfc, $btn-danger-bg-webgfc, $btn-danger-border-webgfc);
    &:hover {
      @include button-variant(white, $btn-danger-color-webgfc, $btn-danger-bg-webgfc);
    }
  }
}

.modal-footer .btn-danger {
    @include button-variant($btn-danger-color-webgfc, $btn-danger-bg-webgfc, $btn-danger-border-webgfc);
    &:hover {
      @include button-variant(white, $btn-danger-color-webgfc, $btn-danger-bg-webgfc);
    }
}

$btn-info-color-webgfc:               #5397a7 !default;
$btn-info-bg-webgfc:                  transparent !default;
$btn-info-border-webgfc:              darken($btn-info-color-webgfc, 5%) !default;

.modal-footer .btn-info-webgfc, .bouton-search .btn-info-webgfc {
    @include button-variant($btn-info-color-webgfc, $btn-info-bg-webgfc, $btn-info-border-webgfc);
    &:hover {
      @include button-variant(white, $btn-info-color-webgfc, $btn-info-bg-webgfc);
    }
}

.btn-info-webgfc {
    &.btn-inverse {
        @include button-variant($btn-info-color-webgfc, $btn-info-bg-webgfc, $btn-info-border-webgfc);
        &:hover {
          @include button-variant(white, $btn-info-color-webgfc, $btn-info-bg-webgfc);
        }
  }
}
