/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 21 mars 2016, 15:28:53
    Author     : yjin
*/
$white:#fff;
$black:#000;
$green:#008000;
$red:#E51809;
$very-dark-gray:#444;
$btn-info-bg-normal:#5397a7;
$btn-info-border-normal:#46b8da;
$btn-info-hover-bg-active:#5697d0;
$btn-info-hover-border:#1b6d85;
$btn-info-disabled:#5bc0de;
$blue-webgfc: #5397a7;
/*$blue-webgfc: #42A1E8;*/
/*$blue-webgfc: #234CA5;*/
$text-color:#333;
$warning-yellow-bg:#fff1a0;
$border-gray:#ddd;
$border-gray-light:#eee;
$warning-boder-pink:#FF9999;
$border-blue-webgfc:#2694e8;
$box-shadow-blue:#5397a7;
$etape-nom-num-normal:#ebf5fa;
$panel-header-footer-gray:#eee;
$input-boder:#e3e3e3;
$input-bg:#f5f5f5;
$input-boder-hover:#5397a7;
$ui-state-highlight-bg:#d0e5f5;

$btn-info-webgfc-color:                 #fff !default;
$btn-info-webgfc-bg:                       $blue-webgfc !default;
$btn-info-webgfc-border:                darken($btn-info-webgfc-bg, 5%) !default;
