/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2016, 17:24:11
    Author     : yjin
*/
.treeview .hitarea {
    margin-top: 14px;
}
.filetree {
    span {
        &.folder, &.file {
            background-image: url('/img/repertoire_22.png') !important;
            background-position: left center !important;
            background-repeat: no-repeat;
        }
        
        &.ui-state-valid, &.ui-state-valid {
            background-color: #fcf8e3;
        }
    }

    &.bans span.file {
        background-image: url('/img/repertoire_22.png') !important;
        background-position: left center;
        background-repeat: no-repeat;
    }
}
.ui-state-highlight {
    background: $ui-state-highlight-bg;
    color: #1d5987;
}