/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2016, 15:14:40
    Author     : yjin
*/
$height:40px;


.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.controls-input select {
    background-color: $input-bg;
    border: 1px solid $input-boder;
    height: $height;
}

textarea.form-control {
    background-color: $input-bg;
    border: 1px solid $input-boder;
    height: $height;
    min-height: 100px;
}
#webgfc_content{
    input {
        &[type="text"], &[type="date"], &[type="password"], &[type="number"], &[type="email"],&[type="tel"],&[type="login"]{
            background-color: $input-bg;
            border: 1px solid $input-boder;
            height: $height;
            border-radius: $border-radius-normal;
        }

        &[type="checkbox"] {
            background-color: $white;
            border: 4px;
            box-shadow: none;
            height: 15px;
            /*margin-top: 10px;*/
            margin-top: 15px;
            border-radius: $border-radius-normal;
        }

        &[type="text"] ,&[type="date"],&[type="password"],&[type="checkbox"], &[type="number"], &[type="email"],&[type="tel"],&[type="login"]{
            &:hover, &:focus {
                border-color: $input-boder-hover;
            }
        }
        
        &[placeHolder="Filtrer"]{
            height: 34px;
        }
    }
}
.select2-container.select2-container-multi,.select2-search-field{
    background-color: $input-bg;
    border: 1px solid $input-boder;
    height: $height;
    border-radius: $border-radius-normal;
}
.controls-input select {
    &:hover, &:focus {
        border-color: $input-boder-hover;
    }
}

textarea.form-control {
    &:hover, &:focus {
        border-color: $input-boder-hover;
    }
}

input[type="checkbox"].form-control {
    &:hover, &:focus {
        border: 0px;
        border-color: $white;
        box-shadow: none;
        height: 15px;
        margin-top: 15px;
    }
}

.input-group-addon-calendar {
    float: right;
    margin-top: -27px;
    margin-right: 15px;
    border: none;
}
#flux_infos .input-group-addon {
    margin-right: 10px;
}

.select2-container.form-control {
    border: none;
    background: none;
    box-shadow: none;
    height: auto;
    width:102%;
}

.select2-choice.select2-default{
    height: 34px;

    /*width: 110%;*/
    margin-left: -11px;
    text-align: left;

    /*min-width: 200px;*/
    background-color: $input-bg;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid $input-boder;;
    display: block;
    padding: 3px 12px;
    color: $text-color;
    border-radius: $border-radius-normal;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control {
    /*width:85%;*/
    /*max-width:170px;*/

    .select2-choices, .select2-choice {
        height: 34px;

        /*width: 110%;*/
        margin-left: -11px;
        text-align: left;

        /*min-width: 200px;*/
        background-color: $input-bg;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border: 1px solid $input-boder;;
        display: block;
        padding: 3px 12px;
        color: $text-color;
        border-radius: $border-radius-normal;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    &[type="checkbox"]{
        height: 15px;
        margin-top: 15px;
    }

}

#ContactContactList, #TypeTypeList, 
#SoustypeSoustypeList, #MetadonneeMetadonneeList, 
#CircuitCircuitList, #DossierDossierList, 
#AffaireAffaireList, #TacheTacheList {
    margin-top: 15px;
    max-height: 300px;
    overflow: auto;
    width: 140%;
}

#ContactContact, #TypeType, #SoustypeSoustype, #MetadonneeMetadonnee, #CircuitCircuit, #DossierDossier, #AffaireAffaire, #TacheTache {
    margin-top: 8px;
}

.addAllBttn {
    /*    margin-left: 175px;
        margin-top: -28px;*/
    float: left;
    margin: -33px -5px auto 103%;
}

.controls {
    padding-bottom: 15px;
}
#webgfc_content{
    .form-horizontal{
        .form-group {
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 0px;
            height: auto;

            .controls {
                padding-bottom: 10px;
            }
        }
    }
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.ui-autocomplete {
    background-color: $white;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
    box-shadow: 0 3px 10px #c0c0c0;
}

* html .ui-autocomplete {
    height: 200px;
}

.ui-autocomplete-loading {
    background: $white url('/img/ajax-loader-mini.gif') right center no-repeat;
}

label.disabled{
    color: $text-color;
}