/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2016, 17:42:08
    Author     : yjin
*/
.panel {
    margin-bottom: 0px;
}
.panel-body{
    background: $white;
}
.panel-footer {
    text-align: right;
    padding-top: 10px;

    .btn+.btn{
        margin-left: 5px;
        margin-bottom: 0;
    }

    .btn-group{
        .btn+.btn{
            margin-left: -1px;
            margin-bottom: 0;
        }
    }
}
#panel-footer-diy{
    background: $panel-header-footer-gray;
    padding: 10px 15px;
    width: 100%;
    text-align: right;
    /*margin-top: 10px;*/
    height: auto;
    border-top: 1px solid $border-gray;
    border-bottom-right-radius: $border-radius-normal;
    border-bottom-left-radius: $border-radius-normal;
    -moz-border-radius: 0px  0px $border-radius-normal $border-radius-normal;
    -webkit-border-radius: 0px 0px $border-radius-normal $border-radius-normal;
    border-radius: 0px 0px $border-radius-normal $border-radius-normal;

    .btn+.btn{
        margin-left: 5px;
        margin-bottom: 0;
    }

    .btn-group{
        .btn+.btn{
            margin-left: -1px;
            margin-bottom: 0;
        }
    }
}
