/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mai 2016, 16:46:59
    Author     : yjin
*/
#infos-logiciel{
    table{
        tr.outils-bootstrap{
            td{
                a{
                    color:#5D4384;

                    img{
                        height:30px;
                    }
                }
            }  
        }

        tr.outils-cakephp{
            td{
                a{
                    color:#D33C44;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-css3{
            td{
                a{
                    color:#4CAF50;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-fontawesome{
            td{
                a{
                    color:#1D9E74;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-flaticon{
            td{
                a{
                    color:#58696A;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-jquery{
            td{
                a{
                    color:#333333;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-layer{
            td{
                a{
                    color:#393D49;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-php{
            td{
                a{
                    color:#3E4874;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-postgresql{
            td{
                a{
                    color:#0091C1;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-pdf{
            td{
                a{
                    color:#FF2600;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-sass{
            td{
                a{
                    color:#C6538C;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-select2{
            td{
                a{
                    color:#BD0B50;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-select2{
            td{
                a{
                    color:#BD0B50;

                    img{
                        height:30px;
                    }
                }
            }
        }

        tr.outils-sweetalert2{
            td{
                a{
                    color:#F37474;

                    img{
                        height:30px;
                    }
                }
            }
        }
    }
}
