/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2016, 09:20:29
    Author     : yjin
*/
#adminEnv {
    width: 100%;
    text-align: center;

    h3 {
        text-align: center;
    }
}

.info-box {
    background: $white;
    -moz-border-radius: $border-radius-normal;
    -webkit-border-radius: $border-radius-normal;
    border-radius: $border-radius-normal;
    box-shadow: 0 0 8px 0 $border-gray;
    float: left;
    margin-left: 40px;
    margin-bottom: 15px;
    min-width: 250px;
    min-height: 140px;
    padding: 0px;

    h3 {
        background: $blue-webgfc;
        color: $white;
        font-weight: bold;
        -webkit-border-radius: $border-radius-normal $border-radius-normal 0 12px;
        text-align: left;
        font-size: 16px;
        padding: 5px 20px;
        margin-bottom:10px;
        margin-top:0;
        min-height: 30px;
    }

    table {
        color: $black;
        font-size: 14px;
        text-align: left;
    }

    .table td {
        vertical-align: middle;
    }
}

.panel-infoBox {
    background: $white;

    legend{
        /*color:$blue-webgfc;*/
        color:grey;
        font-size:14px;
        border-bottom: 1px solid $blue-webgfc;
        /*width:80%;*/
        margin: 0px auto 5px 0px;
    }

    .borderless{
        width:100%;
        td,th{
            border: none;
        }
        .tdValue{
            text-align: right;
        }
    }
}

.icon-vert {
    color: $green;
}

.icon-rouge {
    color: $red;
}

/*#gestionCollectivites, #checkInstall {
    margin-top: 30px;
}*/

#tabs-6{
    margin-left: 82px;
    margin-top: -20px;
}